version: 5.0.0-alpha{build}
image: Visual Studio 2017
branches:
  only:
  - master
skip_tags: true
build_script:
- cmd: cd build && nuget-build.bat
test_script:
- cmd: nunit3-console .\src\Pkcs11Interop.Tests\bin\Release\net20\Pkcs11Interop.Tests.dll --result=myresults.xml;format=AppVeyor
- cmd: nunit3-console .\src\Pkcs11Interop.Tests\bin\Release\net40\Pkcs11Interop.Tests.dll --result=myresults.xml;format=AppVeyor
- cmd: dotnet vstest .\src\Pkcs11Interop.Tests\bin\Release\netstandard1.3\Pkcs11Interop.Tests.dll --Framework:".NETCoreApp,Version=v1.0"
- cmd: dotnet vstest .\src\Pkcs11Interop.Tests\bin\Release\netstandard2.0\Pkcs11Interop.Tests.dll --Framework:".NETCoreApp,Version=v2.0"
artifacts:
- path: build/nuget-unsigned/
