<?xml version="1.0" encoding="utf-8"?>
<!-- This configuration is needed only for Mono runtime on platforms other than Windows -->
<configuration>
    <dllmap dll="libdl">
        <dllentry os="linux" dll="libdl.so.2" />
        <dllentry os="osx" dll="libdl.dylib" />
    </dllmap>
</configuration>
